<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Application using Docker</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Search Engine Ranking Tool</h1>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </symbol>
        </svg>

        <div class="alert alert-secondary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill" />
            </svg>
            Tip: If it is not showing the expected result, try to use www.example.com instead of example.com or any
            other
            subdomain.
        </div>

        <form id="inputForm">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputQuery">Search term</label>
                    <input type="text" class="form-control mt-1" id="inputQuery" placeholder="e. g. geeksforgeeks">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTargetUrl">Target url</label>
                    <input type="url" class="form-control mt-1" id="inputTargetUrl"
                        placeholder="e. g. https://example.com">
                </div>
            </div>
            <div class="button-box">
                <button id="submitForm" type="submit" class="btn btn-primary mt-4">Submit</button>
                <button id="emptyResults" class="btn btn-primary mt-4">Reset</button>
            </div>
        </form>



        <div class="mt-5" id="results-container">

        </div>
    </div>


    <!-- Bootstrap core JS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js' ) }}></script>

    <script type="text/javascript">

        $('#emptyResults').click((event) => {
            event.preventDefault();

            $('#results-container').empty()
        })

        $('#submitForm').click((event) => {
            event.preventDefault();

            const query = $('#inputQuery').val()
            const targetUrl = $('#inputTargetUrl').val()

            // Google
            fetch('/google?query=' + query + '&targetUrl=' + targetUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    $('#results-container').prepend(`
                        <div class= "card mt-3" >
                            <h5 class="card-header">
                                <img style="width: 20px;" src="/static/images/google.png" />
                                Google-Suchergebniss
                            </h5>
                            <div class="card-body">
                                <h5 class="card-title">${data['ranking'] == -1 ? 'Nicht gelistet' : data['ranking'] + '. Platz'}</h5>
                                <p class="card-text"><a href="${targetUrl}" target="_blank" class="link-primary">${targetUrl}</a></p>
                            </div>
                        </div >
                    `)
                })
                .catch((error) => {
                    console.error('Error:', error);
                });

            // DuckDuckGo
            fetch('/duckduckgo?query=' + query + '&targetUrl=' + targetUrl, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    $('#results-container').prepend(`
                        <div class= "card mt-3" >
                            <h5 class="card-header">
                                <img style="width: 20px;" src="/static/images/duckduckgo.png" />
                                DuckDuckGo-Suchergebniss
                            </h5>
                            <div class="card-body">
                                <h5 class="card-title">${data['ranking'] == -1 ? 'Nicht gelistet' : data['ranking'] + '. Platz'}</h5>
                                <p class="card-text"><a href="${targetUrl}" target="_blank" class="link-primary">${targetUrl}</a></p>
                            </div>
                        </div >
                    `)
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        })

    </script>
</body>

</html>